<!-- footer -->
<footer class="footer">
    <div class="footer-container">

    <!-- Línea divisoria y derechos reservados -->
    <div class="footer-bottom">
        <p>&copy; Manuel Adrián Chet Samayoa    2290-20-15833</p>
    </div>
    <script src="js/animaciones.js"></script>
    <script src="js/script.js"></script>
</footer>

