    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <title>Portfolio Manuel Chet</title>
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/inicio.css">
    <link rel="stylesheet" href="assets/css/sobremi.css">
    <link rel="stylesheet" href="assets/css/skills.css">
    <link rel="stylesheet" href="assets/css/proyectoseccion.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/proyectos.css" />



    <section class="proyectos-contenedor">
        <!-- Encabezado con Nav -->
        <header class="contenedor-header">
            {{> header}}
        </header>

        <!-- Resumen del Proyecto -->
        <section id="proyectos-resumen" class="proyectos-resumen">
            <div class="contenido-proyecto">
                <h1 class="tituloProyecto">Vehiculos que utilizan Gasolina</h1>
            </div>
        </section>

        <!-- Contenido Principal -->
        <main class="contenido-principal contenedor">
            <section class="descripcion-proyecto">
                <h3>¿Que son y como funcionan?</h3>
                <p>El motor de gasolina es un componente fundamental en cualquier automóvil de combustión interna. A lo largo de los años, ha experimentado una evolución significativa en términos de eficiencia y emisiones de gases, convirtiéndose en la opción preferida para muchos conductores en las carreteras de todo el mundo.</p>
            </section>


            <h3>Vehiculos de Gasolina</h3>
             <section class="repo-video">
                <div class="video-container">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/D6i27EkzlfA?si=ShGHppAD9VXImk0b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </section>
        </main>

        
    </section>
