<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <title>Portfolio Manuel Chet</title>
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/inicio.css">
    <link rel="stylesheet" href="assets/css/sobremi.css">
    <link rel="stylesheet" href="assets/css/skills.css">
    <link rel="stylesheet" href="assets/css/proyectoseccion.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/proyectos.css" />



<section class="proyectos-contenedor">

        <!-- Resumen del Proyecto -->
        <section id="proyectos-resumen" class="proyectos-resumen">
            <div class="contenido-proyecto">
                <h1 class="tituloProyecto">Vehiculos Terrestres de carga</h1>
            </div>
        </section>

        <!-- Contenido Principal -->
        <main class="contenido-principal contenedor">
            <section class="descripcion-proyecto">
                <h3>¿Que es el transporte terrestre de carga?</h3>
                <p>Este modo de tránsito es donde se movilizan mercancías, productos o materiales a través de diversos tipos de camiones, como los frigoríficos, portacoches o de lona, entre muchos otros. </p>
                <p></p>
                <p>Es un componente esencial de la cadena de suministro y desempeña un papel crucial en la distribución de mercancías a nivel local, regional, nacional e internacional, ya que se utiliza para el envío de una amplia variedad de mercancías, desde productos manufacturados y alimentos, hasta materias primas y productos a granel.  </p>
            </section>


            <h3>Imágenes del Proyecto</h3>
            <ul class="galeria">
                <li><a href="images/carga/1.png"><img src="images/carga/1.png" alt="Carro de carga"></a></li>
                <li><a href="images/carga/2.jpg"><img src="images/carga/2.jpg" alt="Carro de carga"></a></li>
            </ul>

        </main>
    </section>