        <head>
            <link rel="stylesheet" href="/public/assets/css/navbar.css"/>
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

        </head>
        <header>
    <div class="logo">
        <a href="/">Vehiculos</a>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="/home#inicio" onclick="seleccionar()">Página Principal</a></li>
            <li><a href="/home#sobremi" onclick="seleccionar()">Eléctricos</a></li>
            <li><a href="/home#skills" onclick="seleccionar()">Gasolina</a></li>
            <li><a href="/home#proyectos" onclick="seleccionar()"></a>Diesel</li>
        </ul>
    </nav>
    <div class="nav-responsive" onclick="mostrarOcultarMenu()">
        <i class="fa-solid fa-bars"></i>
    </div>
</header>
