    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <title>Portfolio Manuel Chet</title>
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/inicio.css">
    <link rel="stylesheet" href="assets/css/sobremi.css">
    <link rel="stylesheet" href="assets/css/skills.css">
    <link rel="stylesheet" href="assets/css/proyectoseccion.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/proyectos.css" />



    <section class="proyectos-contenedor">
        <!-- Encabezado con Nav -->
        <header class="contenedor-header">
            {{> header}}
        </header>

        <!-- Resumen del Proyecto -->
        <section id="proyectos-resumen" class="proyectos-resumen">
            <div class="contenido-proyecto">
                <h1 class="tituloProyecto">Vehiculos De Diesel</h1>
            </div>
        </section>

        <!-- Contenido Principal -->
        <main class="contenido-principal contenedor">
            <section class="descripcion-proyecto">
                <h3>¿Que son y como funcionan?</h3>
                <p>son aquellos que tienen un motor de combustión interna que utiliza gasóleo como combustible. A diferencia de los vehículos de gasolina, los motores diésel tienen un sistema de encendido por compresión en lugar de un sistema de encendido por chispa.</p>
                <p></p>
                <p>Los vehículos diésel son una buena opción para trayectos largos y terrenos difíciles, ya que pueden recorrer más kilómetros por litro y su mayor torque les ayuda en condiciones de altitud o terrenos difíciles.</p>
            </section>


            <h3>Imágenes De Carros de Diesel</h3>
            <ul class="galeria">
                <li><a href="images/diesel/1.jpg"><img src="images/diesel/1.jpg" alt="Carro de Diesel"></a></li>
                <li><a href="images/diesel/2.jpg"><img src="images/diesel/2.jpg" alt="Carro de Diesel"></a></li>
            </ul>

        </main>
    </section>
